.widget-buttons-grid {
  padding: $margin;
  margin: $margin;
  border-radius: $border-radius;

  & flowboxchild > button {
    border-radius: $border-radius;
    &.toggle:checked {
      /* style given to the active toggle button */
    }

    &:hover {
    }
  }
}
