.widget-buttons-grid {
  padding: $margin;
  margin: $margin;
  border-radius: var(--border-radius);

  & flowboxchild>button {
    border-radius: var(--border-radius);

    &.toggle:checked {
      /* style given to the active toggle button */
    }

    &:hover {}
  }
}