.notification-parent:first-child {
  margin-top: 6px;
}
.notification-parent:last-child {
  margin-bottom: 12px;
}

.notification {
  background-color: transparent;
  padding: 6px;
  border-radius: 10px;
}

.noti-top-button {
  background-color: transparent;
}
.noti-top-button:hover {
  background-color: transparent;
}

.notification-button-box {
  background: rgb(58, 58, 58);
  border-radius: 10px;
  margin: 6px 12px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
  padding: 0;
}

.notification-button-box:hover {
  background-color: rgb(68, 68, 68);
}

.notification-close-button {
  background-color: black;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);
  margin: 0 4px;
  padding: 6px;
  border-radius: 100%;
}

.body, .body text {
  background-color: transparent;
  color: white;
}

.cc {
  background-color: rgba(0, 0, 0, 0.7);
}

.noti-base {
  background-color: transparent;
}
