/*
 * vim: ft=less 
 */

@define-color border-color rgb(7, 7, 7);
@define-color bg rgb(58, 58, 58);
@define-color bg-hover rgb(68, 68, 68);
@define-color bg-focus rgba(68, 68, 68, 0.6);
@define-color bg-selected rgb(0, 128, 255);

.notification-row {
  outline: none;
}
.notification-row:focus {
  background: @bg-focus;
}

.notification {
  border-radius: 10px;
  margin: 6px 12px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
  padding: 0;
}

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 10px;
}

.close-button {
  background: black;
  color: white;
  text-shadow: none;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);
  margin: 0 4px;
  padding: 0px 5px;
  font-size: 1.4rem;
  border-radius: 100%;
}
.close-button:hover {
  background: rgb(40, 40, 40);
  transition: all 0.15s ease-in-out;
  opacity: 0.9;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  box-shadow: none;
  background: @bg;
  border: 1px solid @border-color;
}

.notification-default-action:hover,
.notification-action:hover {
  background: @bg-hover;
}

.notification-default-action {
  border-radius: 10px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}
.notification-action:last-child {
  border-bottom-right-radius: 10px;
}

.image {
}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 10px;
}

.summary {
  color: white;
  text-shadow: none;
}

.time {
  color: white;
  text-shadow: none;
}

.body {
  background: transparent;
  color: white;
  text-shadow: none;
}

.top-action-title {
  color: white;
  text-shadow: none;
}

.control-center-clear-all {
  color: white;
  text-shadow: none;
  background: @bg;
  border: 1px solid @border-color;
  box-shadow: none;
  border-radius: 10px;
}
.control-center-clear-all:hover {
  background: @bg-hover;
}

.control-center-dnd {
  border-radius: 10px;
  background: @bg;
  border: 1px solid @border-color;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @bg-selected;
}
.control-center-dnd slider {
  background: @bg-hover;
}

.control-center {
  background: rgba(0, 0, 0, 0.7);
}
.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}
